.inline-grid {
  width: 100%;
  display: inline-block;
}
.InlineGridItem_inline-grid__item__1naq2 {
  padding: 8px;
  border-radius: 5px;
  margin: 10px;
  background-color: #ffff;
  color: rgba(0, 0, 0, 0.87);
}